<html>
    <head>
        <title>Employee Website</title>
    </head>
    <body>
        <h1>Employee Database</h1>
        <h3>Get Employee Information</h3>
        <form action = "http://localhost:5000/login" method = "post">
            <p>Employee Id:</p>
            <p><input type = "text" name = "empid" /></p>
            <p>First Name:</p>
            <p><input type = "text" name = "fname" /></p>
            <p>Last Name:</p>
            <p><input type = "text" name = "lname" /></p>
            <p>Primary Skills:</p>
            <p><input type = "text" name = "primary_skills" /></p>
            <p>Location:</p>
            <p><input type = "text" name = "location" /></p>
            <p><input type = "submit" value = "Submit Details" /></p>
        </form>
    </body>
 </html>